/* .add_to_cal_button_propernoun {
    background-color: lightseagreen;
    text-decoration: underline; 
} */

.add_to_cal_button_person {
    background-color: lightpink;
    text-decoration: underline;
}

.add_to_cal_button_organization {
    background-color: red;
    text-decoration: underline;
}

.add_to_cal_button_atmention {
    background-color: burlywood;
    text-decoration: underline;
}

.add_to_cal_button_url {
    background-color: aliceblue;
    text-decoration: underline;
}

.add_to_cal_button_date {
    background-color: lightblue;
    text-decoration: underline;
}

.add_to_cal_button_time {
    background-color: lightgreen;
    text-decoration: underline;
}

.add_to_cal_button_place {
    background-color: lightsalmon;
    text-decoration: underline;
}

.add_to_cal_button_activity {
    background-color: lightyellow;
    text-decoration: underline; 
}

.add_to_cal_button_hashtag {
    background-color: purple;
    text-decoration: underline; 
}

.add_to_cal_button_phonenumber {
    background-color: lightyellow;
    text-decoration: underline; 
}

.add_to_cal_button_activity {
    background-color: orange;
    text-decoration: underline; 
}

.add_to_cal_button_acronym {
    background-color: blue;
    text-decoration: underline; 
}

.add_to_cal_button {
    cursor: pointer;
}