.add_to_cal_button_propernoun {
    background-color: lightseagreen;
    text-decoration: underline; 
}

.add_to_cal_button_person {
    background-color: lightpink;
    text-decoration: underline;
}

.add_to_cal_button_organization {
    background-color: rgb(180, 54, 54);
    text-decoration: underline;
}

.add_to_cal_button_atmention {
    background-color: burlywood;
    text-decoration: underline;
}

.add_to_cal_button_url {
    background-color: aliceblue;
    text-decoration: underline;
}

.add_to_cal_button_email {
    background-color: antiquewhite;
    text-decoration: underline;
}

.add_to_cal_button_date {
    background-color: #add8e6;
    text-decoration: underline;
}

.add_to_cal_button_time {
    background-color: lightgreen;
    text-decoration: underline;
}

.add_to_cal_button_place {
    background-color: lightsalmon;
    text-decoration: underline;
}

.add_to_cal_button_activity {
    background-color: lightyellow;
    text-decoration: underline; 
}

.add_to_cal_button_hashtag {
    background-color: purple;
    text-decoration: underline; 
}

.add_to_cal_button_phonenumber {
    background-color: lightyellow;
    text-decoration: underline; 
}

.add_to_cal_button_activity {
    background-color: orange;
    text-decoration: underline; 
}

.add_to_cal_button_acronym {
    background-color: rgb(54, 54, 189);
    text-decoration: underline; 
}

.add_to_cal_button {
    cursor: pointer;
}